// Custom bootstrap scss
@import "./style/custom";
// Bootstrap scss
@import '~bootstrap/scss/bootstrap.scss';

@import "./style/var",
        "./style/component/sidenavtoggle",
        "./style/component/sidebar",
        "./style/component/main",
        "./style/component/quickContactInfo",
        "./style/component/works",
        "./style/component/about";

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

p,a,.font-light{
    font-weight: 300;
}
a{
    text-decoration: none!important;
}
hr{
    width: 5rem;
    border-color: $white;
}
.preLoading{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
}